<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>SimplexDB</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel="icon" type="image/png" sizes="32x32" href="../images/favicon-32x32.png"/>
	<!-- CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	      integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
	<link href="../css/style.css" rel="stylesheet"/>
	<!-- JS -->
	<script src="https://code.jquery.com/jquery-1.12.1.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
	        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
	        crossorigin="anonymous"></script>
	<script src="../js/data-operations.js"></script>
</head>
<body>
<div class="container">

</div>
<div class="container">
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">SimplexDB</a>
			</div>
			<ul class="nav navbar-nav">
				<li>
					<div class="navbar-form navbar-left">
						<input type="text" class="form-control" id="findByNameTextField" placeholder="Search"
						       onchange="findByName()"/>
						<button type="submit" class="btn btn-default">
							<span class="glyphicon glyphicon-search" aria-hidden="true" onclick="findByName()">
							</span></button>
					</div>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#"><span
							class="glyphicon glyphicon-import"></span> Upload Files <strong class="caret"></strong></a>
					<ul class="dropdown-menu">
						<form class="form-group" enctype="multipart/form-data" method="post" action="save"
						      style="padding: 20px 20px 20px 20px">
							<div class="btn-group btn-group-justified">
								<div class="btn-group">
									<input class="btn btn-default" id="fileUploadBtn" name="fileToUpload"
									       type="file" multiple="multiple" onchange="fileSelected();"/>
								</div>
								<div class="btn-group">
									<input class="btn btn-default" id="uploadBtn" value="Upload" type="button"
									       onclick="uploadFile()"/>
								</div>
							</div>
							<div id="fileName"></div>
							<div id="fileSize"></div>
							<div id="fileType"></div>
						</form>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="../swagger-ui.html" target="_blank"><span class="glyphicon glyphicon-info-sign">
				</span> API Documentation</a></li>
			</ul>
		</div>
	</nav>
	<table class="table table-striped" id="dataTable">
		<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Date</th>
			<th>Size</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="data: ${datalist}">
			<td th:text="${data.internalId}"></td>
			<td th:text="${data.name}"></td>
			<td th:text="${data.date}"></td>
			<td th:text="${data.size}"></td>
			<td>
				<button type="submit" class="btn btn-default"
				        th:id="'saveBtn_' + ${data.internalId}"
				        th:onclick="'saveData(\'' + ${data.internalId} + '\');'">Export
				</button>
				<button type="submit" class="btn btn-danger"
				        th:id="'deleteBtn_' + ${data.internalId}"
				        th:onclick="'deleteData(\'' + ${data.internalId} + '\');'">Delete
				</button>
			</td>
		</tr>
		</tbody>
	</table>
</div>
</body>
</html>