<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Data List</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<!-- CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	      integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
	<link rel="stylesheet" type="text/css"
	      href="https://cdn.datatables.net/t/bs-3.3.6/jq-2.2.0,dt-1.10.11,af-2.1.1,fh-3.1.1,r-2.0.2,sc-1.4.1/datatables.min.css"/>
	<link href="../css/style.css" rel="stylesheet"/>
	<!-- JS -->
	<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
	        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
	        crossorigin="anonymous"></script>
	<script type="text/javascript"
	        src="https://cdn.datatables.net/t/bs-3.3.6/jq-2.2.0,dt-1.10.11,af-2.1.1,fh-3.1.1,r-2.0.2,sc-1.4.1/datatables.min.js"></script>
	<script src="../js/data-operations.js"></script>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
	<div class="navbar-header">
		<a class="navbar-brand" th:href="@{/simplexdb/view}">SimplexDB</a>
	</div>
	<div class="nav navbar-nav">
		<li><a href="#" onclick="exportData()">Export</a></li>
	</div>
</nav>
<div class="container">
	<h2>Upload File</h2>
	<form id="form1" enctype="multipart/form-data" method="post" action="save">
		<div class="row">
			<input type="file" name="fileToUpload" id="fileUploadBtn" class="form-control" onchange="fileSelected();"/>
		</div>
		<div id="fileName"></div>
		<div id="fileSize"></div>
		<div id="fileType"></div>
		<div class="row">
			<input type="button" id="uploadBtn" onclick="uploadFile()" class="form-control" value="Upload"/>
		</div>
		<div id="progressNumber"></div>
	</form>
	<h2>Data List</h2>
	<table class="table table-striped" id="dataTable">
		<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Size</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="data: ${datalist}">
			<td th:text="${data.dataInternalId}"></td>
			<td th:text="${data.dataName}"></td>
			<td th:text="${data.dataSize}"></td>
			<td>
				<button type="submit" class="btn btn-default"
				        th:id="'saveBtn_' + ${data.dataInternalId}"
				        th:onclick="'saveData(\'' + ${data.dataInternalId} + '\');'">Export
				</button>
				<button type="submit" class="btn btn-danger"
				        th:id="'deleteBtn_' + ${data.dataInternalId}"
				        th:onclick="'deleteData(\'' + ${data.dataInternalId} + '\');'">Delete
				</button>
			</td>
		</tr>
		</tbody>
	</table>
</div>
</body>
</html>